@font-face {
  font-family: "iconfont"; /* Project id 3918689 */
  src: url('iconfont.woff2?t=1677470327435') format('woff2'),
       url('iconfont.woff?t=1677470327435') format('woff'),
       url('iconfont.ttf?t=1677470327435') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-bangzhu:before {
  content: "\e8ad";
}

.icon-chenggong:before {
  content: "\e8ae";
}

.icon-dianhua:before {
  content: "\e8af";
}

.icon-dianzan:before {
  content: "\e8b0";
}

.icon-dingwei:before {
  content: "\e8b1";
}

.icon-ditu:before {
  content: "\e8b2";
}

.icon-dingdan:before {
  content: "\e8b3";
}

.icon-gengduo:before {
  content: "\e8b4";
}

.icon-fuzhi:before {
  content: "\e8b5";
}

.icon-fenxiang:before {
  content: "\e8b6";
}

.icon-mima:before {
  content: "\e8b7";
}

.icon-nan:before {
  content: "\e8b8";
}

.icon-nv:before {
  content: "\e8b9";
}

.icon-saoyisao:before {
  content: "\e8ba";
}

.icon-pinglun:before {
  content: "\e8bb";
}

.icon-shanchu:before {
  content: "\e8bc";
}

.icon-shezhi:before {
  content: "\e8bd";
}

.icon-shibai:before {
  content: "\e8be";
}

.icon-shoucang:before {
  content: "\e8bf";
}

.icon-shouye:before {
  content: "\e8c0";
}

.icon-shuaxin:before {
  content: "\e8c1";
}

.icon-sousuo:before {
  content: "\e8c2";
}

.icon-tupian:before {
  content: "\e8c3";
}

.icon-wode:before {
  content: "\e8c4";
}

.icon-weixin:before {
  content: "\e8c5";
}

.icon-wodeguanzhu:before {
  content: "\e8c6";
}

.icon-xiangkan:before {
  content: "\e8c7";
}

.icon-xiaoxi:before {
  content: "\e8c8";
}

.icon-xiazai:before {
  content: "\e8c9";
}

.icon-xiaoxizhongxin:before {
  content: "\e8ca";
}

.icon-yixiangkan:before {
  content: "\e8cb";
}

.icon-zengjia:before {
  content: "\e8cc";
}

